
body{
    margin:0;
    padding:0;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500 ;
    font-style: normal;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

/* NAVBAR STYLING */
.navbar{
    background-color: white;
    height:5rem;
}

.fa-compass{
    font-size:2rem;
    color:#fe424d;
}

.nav-link{
    color:#222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links , .f-info-socials {
    width:100%;
    display :flex;
    align-items:center;
    justify-content: center;
    text-align:center;
}

.f-info-socials i{
    font-size:1.2rem;
    margin-right:1rem;
}

.f-info{
    text-align:center;
    height:8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:space-evenly;
}



/* CARDS */

.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}
.card-body {
    padding:0 !important;
}

.card-text{
    font-weight: 500 !important;
}

.listing-link{
    text-decoration: none;
}
/* CARDS EFFECT */

.card-img-overlay{
    opacity:0;
}


.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}

.add-btn{
    background-color:#fe424d !important;
    border:none !important;
}

/* EDIT PAGE */

.edit-btn{
    background-color:#fe424d !important;
    border:none !important;
}

/* SHOW PAGE */
.show-img{
    height:40vh;
}

.btns{
    display: flex;
}
.show-card{
    padding-left:0;
    padding-right:0;
}



/* MAP  */
#map{
    height:400px;
    width:80vw;
}
