<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div>
        <div class="continer">
            <h1>Wonderlust</h1>
            <ph3>
                A perfect place where your travel wish meets destination.
                (And my bank meets balance if it becomes successful 😅)
            </h3>
            <hr>
            <h2>
                Company Details
            </h2>
            <p>
                This company is nothing but a dream of someone who just love dreaming.
                <br>
                And one day i decided to convert my dream into reality and .....
                <br>
                Well if I say something like it then it will be a lie.
                <br> 
                I created this project  Because I needed a project for resume and thought it would work fine.
                <br>
                <br>
                THATS IT !
                THis is all about wonderlust (Actually i don't want to write more 🥲).
            </p>
        </div>
    </div>
</body>
