<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div>
        <div class="continer">
            <h1>Wonderlust</h1>
            <ph3>
                
            </h3>
            <hr>
            <h2>
                Privacy
            </h2>
            <p>
               
            </p>

        </div>
    </div>
</body>