<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div>
        <div class="continer">
            <h1>Wonderlust</h1>
            <ph3>
                A perfect place where your travel wish meets destination.
                (And my bank meets balance if it become successful 😅)
            </h3>
            <hr>
            <h2>
                Privacy
            </h2>
            <p>
                Well Guys,
                <br>
                You friends don't provide me enough data which I can sell to someone and leek your privacy.
                <br>
                <u>So no need you to worry about Privacy</u>
                <br>
                And as of me 
                <br>
                My data is not that important that it will affect me if get licked.
                <br>
                I also not need to worry about Privacy.
                <br>
                (If want code <a href="https://github.com/Sahil180305/Wonderllust-Project-">Click here</a>)
            </p>

        </div>
    </div>
</body>