<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div>
        <div class="continer">
            <h1>Wonderlust</h1>
            <ph3>
                A perfect place where your travel wish meets destination.
                (And my bank meets balance if it becomes successful 😅)
            </h3>
            <hr>
            <h2>
                Terms and Condition
            </h2>
            <p>
                Currently it is not big enough that i start creating terms and Conditions.
                <br>
                So No terms and conditions.
                <br>

                But I have a request please don't use to much memory for creating listings (MongoAtlas free service don't provide much space to store database)
                <br>
                Well now just Enjoy :&#41;
            </p>

        </div>
    </div>
</body>